# ── Telegram Bot ──────────────────────────────────────────────────────────────
# Токен от @BotFather
BOT_TOKEN=8619040847:AAE9sSsxnCoAehO3ugoOoiGoygv17nJwWp0

# Твой Telegram user ID (можно узнать у @userinfobot)
# Несколько ID через запятую: 123456,789012
ADMIN_IDS=6274359421

# ── Server ────────────────────────────────────────────────────────────────────
# Секретный ключ для внутренних запросов бота к серверу
# Придумай любую длинную строку
INTERNAL_SECRET=pornodeti

# URL сервера (бот обращается к нему)
# Локально: http://localhost:8000
# На хостинге: https://your-domain.com
SERVER_URL=http://localhost:8000

# Путь к файлу базы данных
DB_PATH=keys.db
